@import "tailwindcss";

/*clerk avatar scaling*/
.cl-avatarBox {
  width: 3rem;
  height: 3rem;
}

.arrows{
  height: 40px;
  width: 40px;
  margin: 1px;
}

.logo-shine h2 {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.logo-shine h2::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 60px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.5) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  60% {
    left: 130%;
  }
  100% {
    left: 130%;
  }
}

.logo-shine {
  position: relative;
  display: inline-block;
  overflow: hidden;
}

.logo-shine::after {
  content: "";
  position: absolute;
  top: 0;
  left: -100%;
  height: 100%;
  width: 60px;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(255, 255, 255, 0.6) 50%,
    rgba(255, 255, 255, 0) 100%
  );
  transform: skewX(-20deg);
  animation: shine 2.5s infinite;
}

@keyframes shine {
  0% {
    left: -100%;
  }
  60% {
    left: 130%;
  }
  100% {
    left: 130%;
  }
}


